@use "../../style/variables" as *; 

.banner {
  position: relative;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  padding-inline: 2rem;
  background-image: url("background-1.png");
  height: 223px;
  margin: auto;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  color: $color-tertiary;
  margin-bottom: 2rem;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: $banner-background;
    border-radius: 2rem;
  }
  & h1 {
    font-weight: 500;
    z-index: 1;
  }
}