.banner {
  position: relative;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  padding-inline: 2rem;
  background-image: url("background-1.png");
  height: 223px;
  margin: auto;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  color: white;
  margin-bottom: 2rem;
}

.banner::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
}

.banner h1 {
  font-weight: 500;
  z-index: 1;
}